<main>
    <div id="cont-doenca" class="container-doencas">
        <h1 id="doenca-name" class="titulos-doenca">{{nome}}</h1>
        <h2 class="doenca-titulos">Visão Geral</h2>
        <p class="doenca-texto">{{geral}}</p>
        <h2 class="doenca-titulos">Sintomas</h2>
        <p class="doenca-texto">
        <ul>
            {{#each sintomas}}
                <li>{{this.sintoma}}</li>
            {{/each}}
        </ul>
        <h2 class="doenca-titulos">Tratamentos</h2>
        <p class="doenca-texto">{{tratamento}}</p>
    </div>
</main>