<main>
    <div class="banner">
        <div class="right-column">
            <img alt="Mapa do Brasil" src="../img/mapa_brasil.png">
        </div>
        <div class="text-box">
            <h1>Seasonal Ilness System <span class="Brasil">BRASIL</span></h1>
            <h3>Sistema de informação de doenças sazonais no Brasil</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ultricies mi a risus fringilla laoreet. In
                scelerisque commodo magna id auctor.</p>
            <div class="btn">
                <button type="button" class="painel-btn" onclick="window.location.href='mapa'">Painel Iterativo</button>
                <button type="button" class="sobre-btn" onclick="window.location.href='sobre'">Sobre</button>
            </div>
        </div>
    </div>
</main>