<main>
    <div class = "grid_container">
        <div class="painel-geral">
        <h5 class="SIS">Seasonal Ilness System</h5>
        <h1>Painel geral</h1>
        </div>
        <div class="disease-list">
            <div class="filters">
                <div>
                    <select class ="regioes">
                        <option value="*">Brasil</option>
                        <option value="norte" {{#if (equal regiao 'norte' )}}selected{{/if}}>Norte</option>
                        <option value="nordeste" {{#if (equal regiao 'nordeste' )}}selected{{/if}}>Nordeste</option>
                        <option value="centro-oeste" {{#if (equal regiao 'centro-oeste' )}}selected{{/if}}>Centro-Oeste
                        </option>
                        <option value="sudeste" {{#if (equal regiao 'sudeste' )}}selected{{/if}}>Sudeste</option>
                        <option value="sul" {{#if (equal regiao 'sul' )}}selected{{/if}}>Sul</option>
                    </select>
                    </select>
                </div>
                <div>
                    <select class="estacoes">
                        <option value="*">Todas as estações</option>
                        <option value="primavera" {{#if (equal estacao 'primavera' )}}selected{{/if}}>Primavera</option>
                        <option value="verao"{{#if (equal estacao 'verao' )}}selected{{/if}}>Verão</option>
                        <option value="outono"{{#if (equal estacao 'outono' )}}selected{{/if}}>Outono</option>
                        <option value="inverno"{{#if (equal estacao 'inverno' )}}selected{{/if}}>Inverno</option>
                    </select>
                </div>
                <div>
                    <button type="button" class="painel-btn" onclick="AtualizaURL()">Pesquisar</button>
                </div>
            </div>
            <div class="d-list">
                <ul>
                    {{#each doencas}}
                    <li><a href="/doencas?id={{id}}">{{nome}}</a></li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
    <script src="../dist/regiao.js"></script>
    <script src="../dist/mapa.js"></script>
</main>