/* Elementos comuns a todas as páginas */
html {
    font-family: 'Montserrat';
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    margin-bottom: 0;
  }
header{
    background: #0068C0;
    margin-bottom:0;
    padding-left: 15px;
}

nav{
    width: 100%;
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 0;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 25px;
}

nav ul li a{
    text-decoration: none;
    color:#fff;
    padding: 0 10px;
    position: relative;
}

nav ul li a::after{
    content: ' ';
    width: 0%;
    height: 7px;
    background:#fff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 110%;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
}
.rodape{
  height: 60px;
  margin-top: 25px;
  background-color:#0068C0;
  color:#f9f9f9;
  font-size: 12px;
  padding-top: 1px;
  text-align: center;
}
/* Página HOME */
.banner {
    width:100%;
    height:500px;
    margin-top: 0;
    margin-bottom: 0;
  }
  
  .text-box {
    margin-top: 80px;
    margin-bottom: 0;
    margin-left: 50px;
    padding-right: 50px; 
    width: 500px;
    height: 450px;
    float: left;
    align-items: center;
  }
  
  .right-column {
    margin-top:15px;
    width: 700px;
    height: 500px;
    float: right;
  }
  
  .right-column img {
    max-width: 700px;
    max-height: 500px;
  }
  
  .text-box h1 {
    font-size: 40px;
  }
  
  .text-box h3 {
    font-size: 25px;
  }
  
  .Brasil {
    color: #009c3b;
  }

.btn button{
    font-weight: bold;
    font-size: 14px;
    padding: 7px 30px;
    margin-right: 15px;
    outline: none;
    border:1px solid #009c3b;
    border-radius: 20px;
    cursor: pointer;
    color:#009c3b;
    background: transparent;
}
.btn .painel-btn{
    background: linear-gradient(#009c3b,#00996d);
    color: #fff;
}

/* Página de regiões - Painel geral */
.filters {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-end;
}

.filters select {
  font-weight: bold;
    font-size: 14px;
    padding: 7px 30px;
    margin-right: 15px;
    outline: none;
    border:1px solid #00929a;
    border-radius: 20px;
    cursor: pointer;
    color:#00929a;
    background: transparent;
}

.disease-list {
  margin: 40px 40px 90px 40px;
  background-color: #EBF5F9;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
}

.painel-geral{
  margin-left: 40px;
  margin-bottom: 0;
}

.painel-geral h5{
  margin-bottom: 0;
  
}
.SIS{
  color:#009c3b;
}
.atualizacao{
  margin-top:0;
  color:#00929a;
}
.painel-geral h1{
  margin-top: 0;
  margin-bottom: 0;
}
.d-list ul {
  margin: 0;
}
.d-list ul li{
  list-style: none;
  margin: 10px 0px;
  padding: 10px;
}
.d-list ul li a{
  font-weight: bold;
  text-decoration: none;
  color:#000;
  position: relative;
}

.d-list ul li a::after{
  content: ' ';
  width: 0%;
  height: 1px;
  background:#00929a;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 110%;
  transition: 0.5s;
}

.d-list ul li a:hover::after{
  width: 100%;
}
