html {
    font-family: 'Montserrat';
    margin:0;
    padding:0;
}
header{
    background: #0068C0;
    width: 100%;
    margin-bottom:0;
    padding:0;
}

nav{
    width: 100%;
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 0;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 25px;
}

nav ul li a{
    text-decoration: none;
    color:#fff;
    padding: 0 10px;
    position: relative;
}

nav ul li a::after{
    content: ' ';
    width: 0%;
    height: 7px;
    background:#fff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 110%;
    transition: 0.5s;
}

ul li a:hover::after{
    width: 100%;
}
.baner {
    width:100%;
    height:500px;
    margin-top: 0;
  }
  
  .text-box {
    margin-top: 100px;
    margin-left: 50px;
    padding-right: 50px; /* Ajuste o valor conforme necessário */
    width: 500px;
    height: 500px;
    float: left;
    align-items: center;
  }
  
  .right-column {
    margin-top:15px;
    width: 700px;
    height: 500px;
    float: right;
  }
  
  .right-column img {
    max-width: 700px;
    max-height: 500px;
  }
  
  .text-box h1 {
    font-size: 40px;
  }
  
  .text-box h3 {
    font-size: 25px;
  }
  
  .Brasil {
    color: #009c3b;
  }

.btn button{
    font-weight: bold;
    font-size: 14px;
    padding: 7px 30px;
    margin-right: 15px;
    outline: none;
    border:1px solid #009c3b;
    border-radius: 20px;
    cursor: pointer;
    color:#009c3b;
    background: transparent;
}
.btn .painel-btn{
    background: linear-gradient(#009c3b,#00996d);
    color: #fff;
}
.rodape{
    background-color:#0068C0;
    color:#f9f9f9;
    font-size: 16px;
    text-align: center;
}

